altair
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
backports.functools-lru-cache
beautifulsoup4
bleach
blinker
brotlipy
cachetools
certifi
cffi
charset-normalizer
click
cryptography
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
flit_core
gitdb
GitPython
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pycparser
pydeck
Pygments
Pympler
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
pyzmq
requests
semver
Send2Trash
six
smmap
soupsieve
stack-data
streamlit
terminado
testpath
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
widgetsnbextension
zipp